@page
@model BalanceApp.Pages.DataModels.DeleteModel

@{
    ViewData["Title"] = "Delete";
}

<h1>Delete</h1>

<h3>Are you sure you want to delete this?</h3>
<div>
    <h4>UserData</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.UserData.TotalBalance)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.UserData.TotalBalance)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.UserData.PositiveBalance)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.UserData.PositiveBalance)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.UserData.NegativeBalance)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.UserData.NegativeBalance)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.UserData.ConsolidatedBalance)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.UserData.ConsolidatedBalance)
        </dd>
    </dl>
    
    <form method="post">
        <input type="hidden" asp-for="UserData.Id" />
        <input type="submit" value="Delete" class="btn btn-danger" /> |
        <a asp-page="./Index">Back to List</a>
    </form>
</div>
