@page
@model BalanceApp.Pages.DataModels.DetailsModel

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>UserData</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.UserData.TotalBalance)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.UserData.TotalBalance)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.UserData.PositiveBalance)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.UserData.PositiveBalance)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.UserData.NegativeBalance)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.UserData.NegativeBalance)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.UserData.ConsolidatedBalance)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.UserData.ConsolidatedBalance)
        </dd>
    </dl>
</div>
<div>
    <a asp-page="./Edit" asp-route-id="@Model.UserData.Id">Edit</a> |
    <a asp-page="./Index">Back to List</a>
</div>
