@page
@model DetailsModel

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>UserTask</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.UserTask.Value)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.UserTask.Value)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.UserTask.Description)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.UserTask.Description)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.UserTask.IsConsolidated)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.UserTask.IsConsolidated)
        </dd>
    </dl>
</div>
<div>
    <a asp-page="./Edit" asp-route-id="@Model.UserTask.Id">Edit</a> |
    <a asp-page="./Index">Back to List</a>
</div>
