@page

@using BalanceApp.Models
@using Microsoft.AspNetCore.Identity
@using BalanceApp
@using BalanceApp.Pages.UserTasks
@inject SignInManager<IdentityUser> SignInManager
@inject UserManager<IdentityUser> UserManager

@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="text-center">
    <h1 class="display-4"> Balance APP</h1>
</div>

@if (SignInManager.IsSignedIn(User))
{
    <table class="table">
        <thead>
            <tr>
                <th scope="col">Consolidated Balance</th>
                <th scope="col">Total Balance</th>
                <th scope="col">Positive Balance</th>
                <th scope="col">Negative Balance</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td> @Model.UserData.ConsolidatedBalance </td>
                <td> @Model.UserData.TotalBalance </td>
                <td> @Model.UserData.PositiveBalance </td>
                <td> @Model.UserData.NegativeBalance </td>
            </tr>
        </tbody>
    </table>

    <div class="text-center">
        <h2 class="display-6">Your data</h2>
    </div>

    <p>
        <a asp-page="Create">Create New</a>
    </p>
    <table class="table">
        <thead>
            <tr>
                <th>
                    @Html.DisplayNameFor(model => model.UserTask[ 0 ].Value)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.UserTask[ 0 ].Description)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.UserTask[ 0 ].IsConsolidated)
                </th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model.UserTask)
            {
                @if( !item.IsConsolidated)
                {
                    <tr>
                        <td>
                            @Html.DisplayFor(modelItem => item.Value)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Description)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.IsConsolidated)
                        </td>
                        <td align="right">
                        
                            <a asp-page="./Details" asp-route-id="@item.Id">Details</a> |
                            <a asp-page="./Edit" asp-route-id="@item.Id">Edit</a> |
                            <a asp-page="./Delete" asp-route-id="@item.Id">Delete</a> |
                            <a asp-page="./Consolidate" asp-route-id="@item.Id">Consolidate</a>
                       
                        </td>
                    </tr>
                }
                else
                {
                    <tr class="table-secondary">
                        <td>
                            @Html.DisplayFor(modelItem => item.Value)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Description)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.IsConsolidated)
                        </td>
                        <td align="right">
                             <a asp-page="./Details" asp-route-id="@item.Id">Details</a> |
                        <td>
                    </tr>
                }
            }
    </tbody>
</table>
}
else
{
    <div>
        <h2 class="display-6">Welcome to Balance App</h2>
        <p>Please <a href="Identity/Account/Login">Login</a> to access your data.</p>
    </div>
}